a.nav-link {
  i {
    &.nav-icon {
      margin-right: 0.35em;
    }
  }
  &.active {
    i {
      &.nav-icon {
        color: #20a8d8;
      }
    }
  }
}

ol.breadcrumb {
  height: 3.55em;
}

.v-select {
  &.form {
    .dropdown-toggle {
      border: 1px solid #e4e7ea;
      height: calc(2.0625rem + 2px);

      &::after {
        display: none !important;
      }

      input[type=search],
      input[type=search]:focus {
        margin: 0;
      }
    }
  }

  .dropdown-toggle {
    .clear {
      text-align: right;
    }
  }
}

.form-group {
  &.btn {
    margin-top: 15px;
    padding-right: 0;
  }

  button {
    width: 11em;
  }
}

.action-section {
  margin-bottom: 3em;
}

.field-group {
  padding: 15px;
  border: 1px solid #c8ced3;
  border-radius: 7px;
  margin-top: 25px;

  .form-group:last-of-type {
    margin-bottom: 0;
  }
}

.no-left-right-padding {
  padding-right: 0;
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.no-left-padding {
  padding-left: 0;
}

.ccol-4 {
  max-width: 32%;
}

.list {
  .item {
    margin-top: 5px;

    &.button {
      margin-top: 20px;
    }
  }
}
