<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>PaySuper payment form result</title>
    <style>
      body {
        background: -webkit-gradient(linear,left top,right top,from(#e1e4eb),to(#e9ecf0));
        background: linear-gradient(90deg,#e1e4eb,#e9ecf0);
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but the page doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
    </noscript>
    <script>
      if (window.opener) {
        window.opener.postMessage({
          source: 'PAYSUPER_PAYMENT_PAGE',
          name: 'PAYMENT_RESULT_PAGE_REPORT',
          data: {{{ data }}}
        }, '*');
      }
    </script>
  </body>
</html>
